body {
  margin: 0;
}

h1,
h2,
h3,
h4 {
  margin-block-start: 0;
  margin-block-end: 0;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

.facebook-header {
  background-color: #3B5998;
  position: fixed;
  width: 100%;
  height: 84px;
}

.header-content {
  width: 1000px;
  margin: 0 auto;
  height: 84px;
  line-height: 84px;
}

.logo {
  font-size: 42px;
  color: #fff;
  float: left;
}

.login-form {
  float: right;
}

.login-form button {
  background-color: #3B5998;
  color: #fff;
  font-size: 14px;
  border: 1px solid #ccc;
}

.username-wrapper, .password-wrapper {
  float: left;
  margin-right: 20px;
}

.password-wrapper {
  position: relative;
}

.username-wrapper label, .password-wrapper label {
  position: absolute;
  top: -26px;
  font-size: 14px;
  color: #fff;
}

.password-wrapper .tip {
  position: absolute;
  top: 26px;
  font-size: 12px;
  color: #ccc;
}